<section class="d-flex flex-column align-items-center mt-5 pt-3 ">
  <div class="col-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-xl-5 col-xl-offset-4">
      <p>Select an account to view history</p>
      <div class="card">
          <div class="card-body">
            <div class="content w-100 h-100 d-flex flex-column align-items-start justify-content-center">
              <p class="account mb-2">Bank ACCOUNT - 0237389359</p>
              <p class="currency mb-0"><span>₦</span>515,014.33</p>
              <span class="chevron"><mat-icon svgIcon="chevron-down"></mat-icon></span>
            </div>
          </div>
      </div>

      <h4 class="text-primary w-100 my-3 text-center">Account Details</h4>

    <div class="card shadow">
      <div class="card-header card-header-gradient px-5 py-4">
        <div class="gradient__inner__card d-flex justify-content-between align-items-center">
          <div>
            <h6>Bank Account</h6>
            <h6>0234673457</h6>
          </div>
          <div>
            <p class="text-dark text-uppercase mb-0">
              <span class="d-flex align-items-center mb-2"><span style="width: 12px; height: 12px; margin-right: 8px; display: block; border-radius: 50%; background-color: chartreuse"></span><small>Active</small></span>
              <span>₦515,010.33</span>
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card shadow mb-4">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <small>Available Balance</small>
              <span class="helpIcon"><mat-icon svgIcon="help-circle"></mat-icon></span>
            </div>
            <h6 class="text-primary mb-0">₦515,010.33</h6>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <small>Book Balance</small>
              <span class="helpIcon"><mat-icon svgIcon="help-circle"></mat-icon></span>
            </div>
            <h6 class="text-primary mb-0">₦515,010.33</h6>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <small>Liened Amount</small>
              <span class="helpIcon"><mat-icon svgIcon="help-circle"></mat-icon></span>
            </div>
            <h6 class="text-primary mb-0">₦0.00</h6>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <small>Uncleared Cheque Payment</small>
              <span class="helpIcon"><mat-icon svgIcon="help-circle"></mat-icon></span>
            </div>
            <h6 class="text-primary mb-0">₦0.00</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
