
<div class="wrapper">
  <div #container class="container" id="container">
    <div class="form-container sign-up-container">
      <form (submit)="signupForm.valid && goToApp($event)" [formGroup]="signupForm">
        <h1 class="mb-24">Create Account</h1>
        <mat-form-field>
          <input matInput autocomplete="phone" formControlName="phone" type="text" placeholder="Phone Number" />
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput autocomplete="email" type="email" placeholder="Email" />
        </mat-form-field>
        <mat-form-field>
          <input matInput autocomplete="password" type="password" placeholder="Password" />
        </mat-form-field> -->
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (submit)="loginForm.valid && goToApp($event)">
        <h1 class="mb-24">Sign in</h1>
        <mat-form-field>
          <input matInput formControlName="email" autocomplete="email" type="email" placeholder="Email" />
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" autocomplete="current-password" type="password" placeholder="Password" />
        </mat-form-field>
        <a href="#">Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button (click)="signInClick()" class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button (click)="signUpClick()" class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider idea and starter code built by florin pop https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/ -->
<footer>
</footer>