section.wrapper {
  // width: 100vw;
  // max-width: 100vw;
}

.example-spacer {
  flex: 1 1 auto;
}

:host::ng-deep .mat-toolbar.mat-primary {
  background: #6C44FF;
}

.toolbar {
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.nav-brand {
  padding-left: 6px;
  font-weight: 300;
  letter-spacing: 4px;
  transform: skewX(-5deg);
}

.main-content {
  min-height: 100vh;
  padding: 88px 24px 24px 24px;
}

.sidenav-container {
  overflow-x: hidden;
  // min-height: calc(100vh - 64px);
}

.sidenav-content-sm {
  width: 60px !important;
  transition: width 0.2s linear;
  a.sidebar-link span:not(:first-child) {
    display: none;
  }
}

:host ::ng-deep .mat-drawer-content-full {
  margin-left: 64px !important;
}

.sidenav-content {
  width: 260px;
  transition: all 0.2s linear;
  display: flex;
  padding: 16px 0;
  position: fixed;
  margin-top: 64px;
}

.sidebar-link {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0px 20px;
  color: #393939;
  line-height: 24px !important;
  mat-icon {
    margin-bottom: 2px;
    fill: #7751ff;
  }
  .mat-icon svg {
    height: 24px;
    width: 24px;
  }
  
  // background: #f7faf7;
  &:hover {
    background: #ccc;
      mat-icon {
        fill: #6C44FF;
      }
  }
  span {
    // margin-top: 4px;
    margin-right: 8px;
    padding-top: 2px;
  }
}


span small {
  font-weight: 300 !important;
}

.sidebar-link.active {
  color: #FFF;
  background: #6C44FF;
  mat-icon {
    fill: #FFF;
  }
}