<section class="wrapper">
  <div class="toolbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="nav-brand">i-Banking</span>
        <span class="example-spacer"></span>
        <button class="center" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="extras">notifications</mat-icon>
        </button>
        <span class="mr-3 ml-1 mb-1"><span class="mb-1"><mat-icon svgIcon="account-circle"></mat-icon></span> <span class="ml-2"><small>Hi Olasoji</small></span></span>
        <button class="btn btn-primary">Logout</button>
        <button class="center mx-2" mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Menu">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  
  <section class="drawer__wrapper">
    <mat-drawer-container class="sidenav-container">

      <mat-drawer #drawer class="sidenav-content" mode="side">
        <a title="Menu" (click)="toggleSidebarSize()" class="sidebar-link"><span><mat-icon svgIcon="menu"></mat-icon></span><span>Menu</span></a>
        <a title="Home" class="sidebar-link" routerLinkActive="active" routerLink="/app/home"><span><mat-icon svgIcon="home"></mat-icon></span><span>Home</span></a>
        <a title="Accounts" class="sidebar-link" routerLinkActive="active" routerLink="/app/accounts"><span><mat-icon svgIcon="bank"></mat-icon></span><span>Accounts</span></a>
        <a title="Transfers" class="sidebar-link" routerLinkActive="active" routerLink="/app/transfers"><span><mat-icon svgIcon="cash-multiple"></mat-icon></span><span>Transfers</span></a>
        <a title="Airtime & Bills" class="sidebar-link" routerLinkActive="active" routerLink="/app/airtime-bills"><span><mat-icon svgIcon="file-document-box"></mat-icon></span><span>Airtime & Bills</span></a>
        <a title="Western Union" class="sidebar-link" routerLinkActive="active" routerLink="/app/western-union"><span><mat-icon svgIcon="cash"></mat-icon></span><span>Western Union</span></a>
        <a title="Goals" class="sidebar-link" routerLinkActive="active" routerLink="/app/goals"><span><mat-icon svgIcon="cash-multiple"></mat-icon></span><span>Goals</span></a>
        <a title="Loans" class="sidebar-link" routerLinkActive="active" routerLink="/app/loans"><span><mat-icon svgIcon="ferry"></mat-icon></span><span>Loans</span></a>
        <a title="Profile" class="sidebar-link" routerLinkActive="active" routerLink="/app/profile"><span><mat-icon svgIcon="account-circle"></mat-icon></span><span>Profile</span></a>
        <a title="Lifestyle" class="sidebar-link" routerLinkActive="active" routerLink="/app/lifestyle"><span><mat-icon svgIcon="file-document-box"></mat-icon></span><span>Lifestyle</span></a>
        <a title="Cards" class="sidebar-link" routerLinkActive="active" routerLink="/app/cards"><span><mat-icon svgIcon="credit-card"></mat-icon></span><span>Cards</span></a>
        <a title="Settings" class="sidebar-link" routerLinkActive="active" routerLink="/app/settings"><span><mat-icon svgIcon="settings"></mat-icon></span><span>Settings</span></a>
        <a title="Contact" class="sidebar-link" routerLinkActive="active" routerLink="/app/support"><span><mat-icon svgIcon="phone-in-talk"></mat-icon></span><span>Contact</span></a>
      </mat-drawer>

    
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      
    </mat-drawer-container>
  </section>
</section>