<section class="wrapper">
  <div class="card">
    <div class="card__header">
      <p class="text-uppercase">My Account</p>
    </div>
    <div class="card__body">
      <div class="card__body--row fw-300 text-blue mb-1 text-uppercase">
        <p>Account No.</p>
        <p>AA Bank Account</p>
      </div>
      <div class="card__body--row mb-3">
        <p class="text-lg text-muted">0234980987</p>
        <p class="status active"> <span class="round-success"></span> Active</p>
      </div>
      <div class="card__body--row mb-1">
        <p class="text-uppercase text-blue fw-300">Spending Money</p>
      </div>
      <div class="card__body--row mb-3">
        <p class="text-lg text-blue">₦547.42</p>
        <button>Fund Account</button>
      </div>
      <div class="card__body--row">
        <a class="btn btn-link pl-0" routerLink="">View History</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__header">
      <p class="text-uppercase">My Goals</p>
    </div>
    <div class="card__body" style=" flex: 1">
      <div class="card__body--row fw-300 text-blue mb-1 text-uppercase" style="height: 100%">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%">
          <p class="display-2">0</p>
          <p class="mb-3">Goals Running</p>
          <button>Create a new goal</button>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%">
          <div class="zero__percent__wrapper">
            <p class="large">0%</p>
            <p class="text-muted"><small>Goal Achieved</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-extended">
    <div class="card__header">
      <p class="text-uppercase">News Feed</p>
    </div>
    <div class="card__body">

      <div class="card__body--row mb-1">
        <p class="text-uppercase text-blue fw-300">Enjoy This Season, Enjoy All Seasons</p>
      </div>

      <div class="card__body--row">
       
      </div>
      <div class="card__body--row">
        <p class="text-muted mt-2">You are never out of options this season. </p>
      </div>
      <div class="card__body--row">
        <a class="btn btn-link pl-0" routerLink="">View More</a>
      </div>
    </div>
  </div>
</section>
