<section class="pt-4">
  <h2 class="text-center text-primary mt-4 mb-5 fw300">Your I-Bank Transaction History</h2>
  <div class="row">
    <div class="col-12 col-lg-5 mb-5">
      <p class="">Select an account to view history</p>
      <div class="card shadow card-1">
        <div class="card-body" style="position: relative; cursor: pointer">
          <mat-form-field>
            <div class="w-100">
              <mat-label>ALAT ACCOUNT - 0234959059</mat-label>
            </div>
            <mat-select [disabled]="true">
              <mat-option value="1">ALAT ACCOUNT - 0234959059</mat-option>
              <mat-option value="2">ALAT ACCOUNT - 0234959059</mat-option>
              <mat-option value="3">ALAT ACCOUNT - 0234959059</mat-option>
              <mat-option value="4">ALAT ACCOUNT - 0234959059</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <p>ALAT ACCOUNT - 0234959059</p> -->
          <p style="position: relative; top: -16px">₦515,610.33</p>
        </div>
      </div>
      <div class="card shadow history">
        <div class="card-body">
          <div class="day">
            <p class="date mb-3">Thursday, April 11, 2019</p>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">Airtime Recharge</p>
                <p class="text-danger mb-0">-1000.00</p>
              </div>
            </div>
          </div>
          <div class="day">
            <p class="date mb-3">Thursday, April 9, 2019</p>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">Web Purchase</p>
                <p class="text-danger mb-0">-81,000.00</p>
              </div>
            </div>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">FBN Mobile</p>
                <p class="text-success mb-0">+42,000.00</p>
              </div>
            </div>
          </div>
          <div class="day">
            <p class="date mb-3">Thursday, April 8, 2019</p>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">VAT NIP Transfer</p>
                <p class="text-danger mb-0">-2.50</p>
              </div>
            </div>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">NIP Transfer</p>
                <p class="text-danger mb-0">-200.00</p>
              </div>
            </div>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">ATM WD</p>
                <p class="text-danger mb-0">-9000.00</p>
              </div>
            </div>
          </div>
          <div class="day">
            <p class="date mb-3">Thursday, March 28, 2019</p>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">CR-GT</p>
                <p class="text-success mb-0">+200, 000.00</p>
              </div>
            </div>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">NIP Transfer</p>
                <p class="text-danger mb-0">-200.00</p>
              </div>
            </div>
            <div class="card ">
              <div
                class="card-body py-3 px-2 d-flex justify-content-between align-items-center"
              >
                <mat-icon svgIcon="account-circle"></mat-icon>
                <p class="mb-0 flex-grow-1 ml-3">Airtime</p>
                <p class="text-danger mb-0">-2000.00</p>
              </div>
            </div>

            <div class="w-100 d-flex justify-content-center"><button class="btn btn-link mt-4 mx-auto text-center">View More...</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="card shadow">
        <div class="card-header card-header-gradient px-5 py-4">
          <div class="gradient__inner__card">
            <h6>Bank Account</h6>
            <h6>0234673457</h6>
            <h4 class="text-right">
                ₦515,010.33
            </h4>
          </div>
        </div>
        <div class="card-body">
          <form novalidate="" class="">
            <div
              class="row d-flex justify-space-between align-items-end flex-wrap mb-3"
            >
              <div class="col-12 col-md-6 d-flex flex-column date-field">
                <label>From</label>
                <input type="date" name="" id="" class="form-control" />
                <!---->
              </div>
              <div class="col-12 col-md-6 d-flex flex-column date-field">
                <label>To</label>
                <input type="date" name="" id="" class="form-control" />
                <!---->
              </div>
            </div>
            <div
              class="row d-flex justify-space-between align-items-end flex-wrap mb-3"
            >
              <div class="search-input col-12 d-flex flex-column col-md-6">
                <label>Search by Keyword</label>
                <input
                  autocomplete="off"
                  class="form-control"
                  id="search"
                  name="search"
                  type="text"
                />
                <i class="mdi mdi-magnify"></i>
              </div>
              <div
                class="search-btn col-12 col-md-6 d-flex justify-content-start"
              >
                <button type="submit" class="btn btn-outline-primary ">
                  Search by Date
                </button>
              </div>
            </div>
            <h6 class="mt-3 mb-2">All transactions</h6>
            <div class="tChart">
              <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header [collapsedHeight]="'124px'" [expandedHeight] ="'124px'">
                    <div class="d-flex justify-content-start my-3 mx-3 w-100">
                      <span class="sumcred mr-5"
                        >Total Credits
                        <p class="creditsum mt-3 text-success"><span>₦</span>82,175.00</p></span
                      >
                      <span class="sumcred"
                        >Total Debits
                        <p class="debitsum mt-3 text-danger"><span>₦</span>1,000.00</p></span
                      >
                    </div>
                  </mat-expansion-panel-header>
                  <div class="chart-container" id="chart" data-highcharts-chart="7">
                      <div
                        id="highcharts-7kuwdqv-25"
                        class="highcharts-container "
                        style="position: relative; overflow: hidden; width: 342px; height: 479px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"
                      >
                        <svg
                          version="1.1"
                          class="highcharts-root"
                          style='font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;font-size:12px;'
                          xmlns="http://www.w3.org/2000/svg"
                          width="342"
                          height="479"
                          viewBox="0 0 342 479"
                        >
                          <desc>Created with Highcharts 5.0.14</desc>
                          <defs>
                            <clipPath id="highcharts-7kuwdqv-26">
                              <rect
                                x="0"
                                y="0"
                                width="251"
                                height="389"
                                fill="none"
                              ></rect>
                            </clipPath>
                          </defs>
                          <rect
                            fill="#ffffff"
                            class="highcharts-background"
                            x="0"
                            y="0"
                            width="342"
                            height="479"
                            rx="0"
                            ry="0"
                          ></rect>
                          <rect
                            fill="none"
                            class="highcharts-plot-background"
                            x="81"
                            y="53"
                            width="251"
                            height="389"
                          ></rect>
                          <g class="highcharts-grid highcharts-xaxis-grid ">
                            <path
                              fill="none"
                              class="highcharts-grid-line"
                              d="M 82.5 53 L 82.5 442"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              class="highcharts-grid-line"
                              d="M 206.5 53 L 206.5 442"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              class="highcharts-grid-line"
                              d="M 329.5 53 L 329.5 442"
                              opacity="1"
                            ></path>
                          </g>
                          <g class="highcharts-grid highcharts-yaxis-grid ">
                            <path
                              fill="none"
                              stroke="#e6e6e6"
                              stroke-width="1"
                              class="highcharts-grid-line"
                              d="M 81 442.5 L 332 442.5"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              stroke="#e6e6e6"
                              stroke-width="1"
                              class="highcharts-grid-line"
                              d="M 81 364.5 L 332 364.5"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              stroke="#e6e6e6"
                              stroke-width="1"
                              class="highcharts-grid-line"
                              d="M 81 286.5 L 332 286.5"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              stroke="#e6e6e6"
                              stroke-width="1"
                              class="highcharts-grid-line"
                              d="M 81 209.5 L 332 209.5"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              stroke="#e6e6e6"
                              stroke-width="1"
                              class="highcharts-grid-line"
                              d="M 81 131.5 L 332 131.5"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              stroke="#e6e6e6"
                              stroke-width="1"
                              class="highcharts-grid-line"
                              d="M 81 52.5 L 332 52.5"
                              opacity="1"
                            ></path>
                          </g>
                          <rect
                            fill="none"
                            class="highcharts-plot-border"
                            x="81"
                            y="53"
                            width="251"
                            height="389"
                          ></rect>
                          <g class="highcharts-axis highcharts-xaxis ">
                            <path
                              fill="none"
                              class="highcharts-tick"
                              stroke="#ccd6eb"
                              stroke-width="1"
                              d="M 82.5 442 L 82.5 452"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              class="highcharts-tick"
                              stroke="#ccd6eb"
                              stroke-width="1"
                              d="M 206.5 442 L 206.5 452"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              class="highcharts-tick"
                              stroke="#ccd6eb"
                              stroke-width="1"
                              d="M 329.5 442 L 329.5 452"
                              opacity="1"
                            ></path>
                            <path
                              fill="none"
                              class="highcharts-axis-line"
                              stroke="#ccd6eb"
                              stroke-width="1"
                              d="M 81 442.5 L 332 442.5"
                            ></path>
                          </g>
                          <g class="highcharts-axis highcharts-yaxis ">
                            <text
                              x="26.125"
                              text-anchor="middle"
                              transform="translate(0,0) rotate(270 26.125 247.5)"
                              class="highcharts-axis-title"
                              style="color:#666666;fill:#666666;"
                              y="247.5"
                            >
                              <tspan>Values</tspan>
                            </text>
                            <path
                              fill="none"
                              class="highcharts-axis-line"
                              d="M 81 53 L 81 442"
                            ></path>
                          </g>
                          <g class="highcharts-series-group">
                            <g
                              class="highcharts-series highcharts-series-0 highcharts-line-series highcharts-color-undefined "
                              transform="translate(81,53) scale(1 1)"
                              clip-path="url(https://online.alat.ng/#highcharts-7kuwdqv-26)"
                            >
                              <path
                                fill="none"
                                d="M 2.4607843137255 69.33924999999999"
                                class="highcharts-graph"
                                stroke="#4CD321"
                                stroke-width="2"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                              ></path>
                              <path
                                fill="none"
                                d="M -7.5392156862745 69.33924999999999 L 2.4607843137255 69.33924999999999 L 12.460784313725501 69.33924999999999"
                                stroke-linejoin="round"
                                visibility="visible"
                                stroke="rgba(192,192,192,0.0001)"
                                stroke-width="22"
                                class="highcharts-tracker"
                              ></path>
                            </g>
                            <g
                              class="highcharts-markers highcharts-series-0 highcharts-line-series highcharts-color-undefined highcharts-tracker"
                              transform="translate(81,53) scale(1 1)"
                            >
                              <path
                                fill="#4CD321"
                                d="M 6 69.33924999999999 A 4 4 0 1 1 5.999998000000167 69.33525000066666 Z"
                                class="highcharts-point"
                              ></path>
                            </g>
                            <g
                              class="highcharts-series highcharts-series-1 highcharts-line-series highcharts-color-undefined "
                              transform="translate(81,53) scale(1 1)"
                              clip-path="url(https://online.alat.ng/#highcharts-7kuwdqv-26)"
                            >
                              <path
                                fill="none"
                                d="M 2.4607843137255 385.3045 L 248.53921568627 388.8055"
                                class="highcharts-graph"
                                stroke="#E2231B"
                                stroke-width="2"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                              ></path>
                              <path
                                fill="none"
                                d="M -7.5392156862745 385.3045 L 2.4607843137255 385.3045 L 248.53921568627 388.8055 L 258.53921568627004 388.8055"
                                stroke-linejoin="round"
                                visibility="visible"
                                stroke="rgba(192,192,192,0.0001)"
                                stroke-width="22"
                                class="highcharts-tracker"
                              ></path>
                            </g>
                            <g
                              class="highcharts-markers highcharts-series-1 highcharts-line-series highcharts-color-undefined highcharts-tracker"
                              transform="translate(81,53) scale(1 1)"
                            >
                              <path
                                fill="#E2231B"
                                d="M 2 381.3045 L 6 385.3045 2 389.3045 -2 385.3045 Z"
                                class="highcharts-point"
                              ></path>
                              <path
                                fill="#E2231B"
                                d="M 248 384.8055 L 252 388.8055 248 392.8055 244 388.8055 Z"
                                class="highcharts-point"
                              ></path>
                            </g>
                          </g>
                          <text
                            x="171"
                            text-anchor="middle"
                            class="highcharts-title"
                            style="color:#333333;font-size:18px;fill:#333333;"
                            y="24"
                          >
                            <tspan>Chart title</tspan>
                          </text>
                          <g class="highcharts-legend" transform="translate(257,10)">
                            <rect
                              fill="none"
                              class="highcharts-legend-box"
                              rx="0"
                              ry="0"
                              x="0"
                              y="0"
                              width="75"
                              height="47"
                              visibility="visible"
                            ></rect>
                            <g>
                              <g>
                                <g
                                  class="highcharts-legend-item highcharts-line-series highcharts-color-undefined highcharts-series-0"
                                  transform="translate(8,3)"
                                >
                                  <path
                                    fill="none"
                                    d="M 0 11 L 16 11"
                                    class="highcharts-graph"
                                    stroke="#4CD321"
                                    stroke-width="2"
                                  ></path>
                                  <path
                                    fill="#4CD321"
                                    d="M 12 11 A 4 4 0 1 1 11.999998000000167 10.996000000666664 Z"
                                    class="highcharts-point"
                                  ></path>
                                  <text
                                    x="21"
                                    style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;"
                                    text-anchor="start"
                                    y="15"
                                  >
                                    <tspan>Credit</tspan>
                                  </text>
                                </g>
                                <g
                                  class="highcharts-legend-item highcharts-line-series highcharts-color-undefined highcharts-series-1"
                                  transform="translate(8,21)"
                                >
                                  <path
                                    fill="none"
                                    d="M 0 11 L 16 11"
                                    class="highcharts-graph"
                                    stroke="#E2231B"
                                    stroke-width="2"
                                  ></path>
                                  <path
                                    fill="#E2231B"
                                    d="M 8 7 L 12 11 8 15 4 11 Z"
                                    class="highcharts-point"
                                  ></path>
                                  <text
                                    x="21"
                                    y="15"
                                    style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;"
                                    text-anchor="start"
                                  >
                                    <tspan>Debit</tspan>
                                  </text>
                                </g>
                              </g>
                            </g>
                          </g>
                          <g class="highcharts-axis-labels highcharts-xaxis-labels ">
                            <text
                              x="83.46078431372548"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="middle"
                              transform="translate(0,0)"
                              y="461"
                              opacity="1"
                            >
                              <tspan>0</tspan>
                            </text>
                            <text
                              x="328.4921875"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="middle"
                              transform="translate(0,0)"
                              y="461"
                              opacity="1"
                            >
                              <tspan>1</tspan>
                            </text>
                            <text
                              x="206.5"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="middle"
                              transform="translate(0,0)"
                              y="461"
                              opacity="1"
                            >
                              <tspan>0.5</tspan>
                            </text>
                          </g>
                          <g class="highcharts-axis-labels highcharts-yaxis-labels ">
                            <text
                              x="66"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="end"
                              transform="translate(0,0)"
                              y="446"
                              opacity="1"
                            >
                              <tspan>0</tspan>
                            </text>
                            <text
                              x="66"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="end"
                              transform="translate(0,0)"
                              y="368"
                              opacity="1"
                            >
                              <tspan>20k</tspan>
                            </text>
                            <text
                              x="66"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="end"
                              transform="translate(0,0)"
                              y="290"
                              opacity="1"
                            >
                              <tspan>40k</tspan>
                            </text>
                            <text
                              x="66"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="end"
                              transform="translate(0,0)"
                              y="213"
                              opacity="1"
                            >
                              <tspan>60k</tspan>
                            </text>
                            <text
                              x="66"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="end"
                              transform="translate(0,0)"
                              y="135"
                              opacity="1"
                            >
                              <tspan>80k</tspan>
                            </text>
                            <text
                              x="66"
                              style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                              text-anchor="end"
                              transform="translate(0,0)"
                              y="57"
                              opacity="1"
                            >
                              <tspan>100k</tspan>
                            </text>
                          </g>
                        </svg>
                      </div>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
