:host ::ng-deep .mat-form-field {
    width: 100% !important;
}
:host ::ng-deep .mat-form-field-underline {
    height: 0 !important;
}
:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}
